@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&family=Ubuntu:wght@500&family=Updock&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box ;
    text-decoration: none;
    background: black;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.nav-bar{
     /* background-color: crimson;  */
    position: fixed;
    width: 100%;
    padding: 30px 0;
    

}
.nav-bar .menu li a{
    color: white;
}
.nav-bar .logo a{
    font-size:35px;
    font-weight: 600;
    color:white;
}
.nav-bar .logo span{
    color: crimson;

}
.nav-bar .menu li a{
list-style: none;
color: white;
font-weight: 15px;
font-weight: 500;
margin-left: 25px;
transition: color 0.3s ease;


}
.nav-bar .menu li a:hover{
    color: crimson;
    

}
.nav-bar .menu li{
    list-style:none;
    display: inline-block;  
}
.max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* /* This is a section1 styling  */

    



 .homecontent{
   color: aliceblue;
   float: right;
   margin-left: 20%;
   margin-top: 10%;
   


}
.my-photo{
    margin-left: 10%;
}
.home .homecontent{
    margin:auto 0 auto 40px ;    
}
.home .homecontent .text-1{
    font-size: 27px;
}
.home .homecontent .text-2{
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
}.home .homecontent .text-3{
    font-size: 40px;
    margin: 5px 0;
}
home .homecontent .text-3 span{
    color: crimson;
    font-weight:500 ;
}
p{
    color: red;
    margin-left: 20%;
}


